<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">대시보드</div>
            <a class="nav-link" href="/">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                대시보드
            </a>
            <div class="sb-sidenav-menu-heading">바로가기</div>
            <a class="nav-link" href="/cctv">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                CCTV
            </a>
            <a class="nav-link" href="/lamp">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                가로등
            </a>
            <a class="nav-link" href="/lamp">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                여성안전지킴이집
            </a>
            <a class="nav-link" href="/lamp">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                안전비상벨
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">createdBy</div>
        막플팀
    </div>
</nav>