<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout/head">
    </head>
    <body class="sb-nav-fixed">
        <div th:include="layout/topnav"></div>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav" th:include="layout/sidenav">
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <iframe
                            src="https://prod-apnortheast-a.online.tableau.com/t/tableauprojecttest/views/_0/1_1/6d89b1b4-b7e3-432a-8d72-b2b79d8469ac/37c1f09d-346b-4719-94f0-e694df0e937f?%3Aembed=yes&%3A&showVizHome=no&%3Atabs=no&%3Atoolbar=no"
                            width="100%" height="720px">
                    </iframe>
                    <div class="container-fluid">
                        <div th:include="layout/card"></div>
                    </div>
                </main>
                <div th:include="layout/footer"></div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>