<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        가로등 현황
        <a class="text-black" href="/lamp/table">자세히 보기</a>
    </div>
    <div class="card-body">
        <div class="card-header">
            <select class="form-select form-select-sm w-25" id="table_area" aria-label=".form-select-sm example">
                <option value="서울특별시 강남구청" selected>강남구</option>
                <option value="서울특별시 강동구청">강동구</option>
                <option value="서울특별시 강북구청">강북구</option>
                <option value="서울특별시 강서구청">강서구</option>
                <option value="관악구청">관악구</option>
                <option value="광진구청">광진구</option>
                <option value="서울특별시 구로구청">구로구</option>
                <option value="금천구청 도로과">금천구</option>
                <option value="노원구청 토목과">노원구</option>
                <option value="도봉구청">도봉구</option>
                <option value="동대문구" disabled>동대문구(no data)</option>
                <option value="서울특별시 동작구청">동작구</option>
                <option value="서울특별시 서대문구청">서대문구</option>
                <option value="서울특별시 서초구청">서초구</option>
                <option value="서울특별시 성동구">성동구</option>
                <option value="서울특별시 성북구청">성북구</option>
                <option value="송파구" disabled>송파구(no data)</option>
                <option value="양천구" disabled>양천구(no data)</option>
                <option value="서울특별시 영등포구">영등포구</option>
                <option value="서울특별시 용산구청">용산구</option>
                <option value="서울특별시 은평구청">은평구</option>
                <option value="종로구청 도로과">종로구</option>
                <option value="중구청 도로시설과">중구</option>
                <option value="서울특별시 중랑구청">중랑구</option>
            </select>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <!--                                        <thead id="datatableThread">-->
                <!--                                        </thead>-->
                <!--                                        <tbody id="datatablesBody">-->
                <!--                                        </tbody>-->
            </table>
        </div>
    </div>
</div>
