<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        CCTV 현황
        <a class="text-black" href="/cctv/table">자세히 보기</a>
    </div>
    <div class="card-body">
        <div class="card-header">
            <select class="form-select form-select-sm w-25" id="table_area" aria-label=".form-select-sm example">
                <option value="강남구" selected>강남구</option>
                <option value="강동구">강동구</option>
                <option value="강북구">강북구</option>
                <option value="강서구">강서구</option>
                <option value="관악구">관악구</option>
                <option value="광진구">광진구</option>
                <option value="구로구">구로구</option>
                <option value="금천구">금천구</option>
                <option value="노원구">노원구</option>
                <option value="도봉구">도봉구</option>
                <option value="동대문구">동대문구</option>
                <option value="동작구">동작구</option>
                <option value="서대문구">서대문구</option>
                <option value="마포구">마포구</option>
                <option value="서초구">서초구</option>
                <option value="성동구">성동구</option>
                <option value="성북구">성북구</option>
                <option value="송파구">송파구</option>
                <option value="양천구">양천구</option>
                <option value="영등포구">영등포구</option>
                <option value="용산구">용산구</option>
                <option value="은평구">은평구</option>
                <option value="종로구">종로구</option>
                <option value="중구">중구</option>
                <option value="중랑구">중랑구</option>
            </select>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
            </table>
        </div>
    </div>
</div>